* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    background-color: black;
}
 
.main {
    width: 100%;
    height: 100vh;
    background-image: url('./photos/background-img.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.background1 {
    width: 100%;
    height: 70%;
    background-image: linear-gradient(rgb(0, 0, 0),transparent);
    position: absolute;
    top: 0;
}
.background2 {
    width: 100%;
    height: 70%;
    background-image: linear-gradient(to top,rgb(0, 0, 0),transparent);
    position: absolute;
    opacity: 0.9;
    bottom: 0;
}

header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin: auto;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px;
    height: 48px;
    width: 75vw; 
}
.nav-logo {
    height: 38px;
    width: 150px;
    position: relative;
    z-index: 10;
}
.btn {
    border: none;
    border-radius: 4px;
    font-weight: bold;
    position: relative;
    z-index: 10;
    background-color: red;
    color: white;
}
.sign-in-button {
    width: 77px;
    margin-left: 20px;
    height: 32px;
    cursor: pointer;
}
.lang {
    height: 32px;
    width: 100px;
    text-align: center;
    background-color: rgba(33, 33, 33, 0.468);
    color: white;
    border: 1px solid rgb(74, 74, 74);
}
.main-content
{
    padding-top: 40px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.headings {
    color: white;
    font-weight: bold;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;   
    height: 100%;
    position: relative;
    z-index: 10;
    width: fit-content;
}
.heading-1
{
    font-size: 3.5rem;
    text-align: center;
}
.heading-2
{
    font-size: 1.5rem;
    text-align: center;
}
.heading-3
{
    font-size: 1.2rem;
    text-align: center;
}
.main-content-input
{ 
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    height: fit-content;
    gap: 10px;
    justify-content: center;
    align-items: center;

}
.email-input-div{
    height: auto;
    width: auto;
    display: flex;
}
.email-input
{
    height: 56px;
    width:  364px;
    display: flex;
    background-color: #1a1717de;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(74, 74, 74);
    padding: 0px 15px;
}
.enter-btn
{
    font-size: 1.5rem;
    height: 56px;
    width: 216px;
}
.seperation-line
{
    width: 100%;
    height: 5px;
    background-color: gray;
}
.data-para
{ 
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    text-align: left;
    width: 360px;
}
.data
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    margin: auto;
    max-width: 85vw;
    background-color: black;
    height:80vh;
    padding: 20px;
}
.data-para h1
{   
    padding: 0.5rem 0 0.5rem 0;
     font-size: 2.5rem;
     
}
.data-para p{
    
    font-size: 1.5rem;
    font-weight: 300;
}
.data-image{
    max-width: 100%;
    position: relative;
}
.image1 > img{
    width: 35vw;
    height: auto;
    overflow: hidden;
    position: relative;
    z-index: 10;
}
.video1  {
    position: absolute;
    right: 1%;
    top: 20%;
}
.video1 video{
    width: 30vw;
}
.video2{
    top: 9%; 
    right: 18%;
}
.video2 video{
    
    width: 22vw;
    
}
.questionbox{
    display: flex;
    flex-direction: column;
    padding: 4.5rem 0;
    color: white;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.text{
    font-size: 2rem;
}
.questions{
    width: 70vw;
    margin: 1.5rem 0 0;

}
.box1{
    margin : 0 0 0.5rem 0;
    display: flex;
    padding: 24px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(43, 43, 43);
}
.main-content-input{
    margin: 1.5rem 0 0;
}
.input2{
    margin: 0.5rem 0 0;
}
.finalfooter{
    display: flex;
    justify-content: center;
}

.footer
{
    height: 300px;
    width: 70vw;
    background-color: black;
    color: #a5a5a5;
    padding: 4.5rem  0 0;
    align-items: center;
    justify-content: flex-start;
}

.lists{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    
}

.footer a{
   
    color: #a5a5a5;

}
.lists li{
    list-style: none;
    
    padding: auto;
    margin: 15px;
}

.box1{
    font-size: 1.2rem;
}